/*******************************************************************************/
/*                        GLOBAL STYLES                                        */
/*******************************************************************************/
body {
  margin: 0;
  color: #606873;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
}

/*******  HIDDEN CLASS *******/
.hide_element, .slider_dots {
  display: none;
}

/*******  TEXT FORMAT *******/
.orange_text {
  color: orange;
}
.bold_text {
  font-weight: bold;
}

/****** BACKGROUNDS *******/
.grey_back1, .grey_back2 {
  background: linear-gradient(#f8f8fa, #e2e6f1);
}

.white_back1, .white_back2 {
  background: #fcfdfe;
}


/*******  SEARCH FIELDS *******/
.search_input {
  border: 1px solid rgba(207, 209, 214, .5);
  border-radius: 5px;
}
  .search_input input {
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
  }
  .search_input input:focus {
    border: 0 !important;
    box-shadow: none;
  }
  .input-group-addon {
    background: transparent !important;
    border: 0 !important;
  }

/*******  SORT BUTTON  *******/
.sort_piece, .sort_brand {
  padding: 0 !important;
}
.sort_piece select, .sort_brand select {
  background: transparent !important;
  border: 0 !important;
  padding-left: 0 !important;
  box-shadow: none !important;
  color: #606873 !important;
}

/*******************************************************************************/
/*                        FIRST BLOCK : BLUE                                   */
/*******************************************************************************/

/*******  BLUE BACKGROUND *******/
.blue_back {
  background: #165F9B;
  height: 20vh;
}

  .blue_back .container .row {
    margin: 12px 0 !important;
  }

/*******  BREADCRUMB *******/
.breadcrmb, .breadcrmb a {
  color: white;
}
  .breadcrmb {
    padding-top: 1em !important;
    font-size: 11px;
  }

  .breadcrmb a:hover {
    text-decoration: none;
  }

/*******  INFOS BANNER  *******/
.announce_banner {
  position: relative;
  background: white;
  border-radius: 10px;
  z-index: 50;
  box-shadow: 1px 1px 7px grey;
}
  .picframe {
    padding: 0 !important;

  }
  .pic_presentation {
    width: 100%;
    border-radius: 10px 0 0 10px;
  }
  .pic_presentation_small {
    display: none;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .text_presentation {
    padding: 0 2em;
  }


/*******************************************************************************/
/*                         SECOND BLOCK : GREY N째1                             */
/*******************************************************************************/
.grey_back1 {
}

/******* TITLE + SEARCH + SORT *******/
  .title_pieces {
    margin-top: 12%;
  }
    .title_pieces div h3 {
      line-height: 0 !important;
    }
    .search_input .input_sm {
      display: none;
    }
/******* PIECES LIST *******/
  .pieces_list, .brands_list {
    margin-top: 2em;
  }
    .pieces_list_line,.brands_list_line {
      margin-bottom: 1em;
    }
      .pieces_list_line div a img {
        margin: 1em 1em;
        width: 70px;
      }

/******* INDIVIDUAL PIECES *******/
        .piece p {
          background: white;
          border-radius: 5px;
          box-shadow: 5px 5px 7px #e2e6f1;
        }
          .piece p a {
            color: grey;
          }
            .piece p a:hover {
              text-decoration: none;
            }

/******* "SHOW MORE" BUTTON *******/
  .show_more_pieces  {
    color: white !important;
    background: linear-gradient(#ffb84d, #ff9900) !important;
    border: 0 !important;
    border-radius: 3px !important;
    margin-top: 2em;
    padding: 0.8em 1.3em;
  }
    .show_more_pieces:focus, .show_more_pieces:focus {
      outline: 0;
    }

/******* 3 GUARANTEES ROW *******/
  .guarantees {
    margin: 4em 0 2em 0;
  }
    .guarantees div div {
      position: relative;
    }
      .guarantees_icon {
      }

      .guarantees_infos {
        position: absolute;
        margin-left: -4.2em;
        margin-top: -1.4em;
        padding: 1.5em 5em 0.4em 4em;
        border: 1px solid rgba(207, 209, 214, .5);
        border-radius: 5px;
        font-size: 12px;
      }

/******* BLUE SQUARES *******/
    .blue_icon {
      background: linear-gradient(to right,#007399,#0099cc);
      width: 4em;
      height: 4em;
      border-radius: 7px;
      position: relative;
      z-index: 50;
    }
      .blue_icon img {
        margin: 0;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    .guarantees_icon_right {
      display: none;
    }

/*******************************************************************************/
/*                         THIRD BLOCK : WHITE N째1                             */
/*******************************************************************************/
.white_back1 {
  position: relative;
}

/******* TITLE + SEARCH + SORT *******/
  .title_brands {
    margin-top: 5em;
    padding-bottom: 0 !important;
  }
    .title_brands div h3 {
      line-height: 0 !important;
    }

/******* BRANDS LIST ************/
  .brands_list {
    position: relative;
  }

/******* INDIVIDUAL BRANDS *******/
  .brand p {
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #f5f7fa;
  }

  .brand p a {
    color: grey;
  }
    .brand a:hover {
      text-decoration: none;
    }

/******* "SHOW MORE" BUTTON *******/
  .show_more_brands {
    color: grey !important;
    background: #f8f8f8;
    border: 1px solid #f0f0f0 !important;
    border-radius: 3px !important;
    margin-top: 2em;
    padding: 0.8em 1.3em;
  }


/******* BLUE CONTACT BANNER *******/
  .contact_devis {
    color: white;
    background: linear-gradient(to right,#007399,#0099cc);
    border-radius: 7px;
    padding: 0.5em 5em 1em 5em;
    float: right;
    position: relative;
    top: 2em;
    bottom: -2em;
    line-height: 7px;
  }

    .devis_intro {
    }
    .devis_button {
    }
      .devis_button button {
        color: white !important;
        background: linear-gradient(#ffb84d, #ff9900) !important;
        border: 0 !important;
        border-radius: 3px !important;
        padding: 1em 1.5em;
        margin-top: 0.75em;
      }

    .devis_phone {
      border: 1px solid rgba(193, 212, 242, .3);
      border-radius: 5px;
      line-height: 7px;
      padding: 0.7em 0.5em 0 0.5em;
      margin-top: 0.75em;
    }
      .devis_phone div div img {
        margin-top: -0.3em;
      }


/*******************************************************************************/
/*                         FOURTH BLOCK : GREY N째2                             */
/*******************************************************************************/
.grey_back2 {
  padding-bottom: 4em;
}

/******* LEFT COLUMN + RIGHT COLUMN *******/
  .breakdown_best {
    margin-top: 6em;
    padding-right: 0 !important;
  }

  /******* LEFT COLUMN *******/
  .col_left {

  }
    .col_left div div hr {
      border-bottom: 1px solid rgba(207, 209, 214, 1);
      margin-left: 0 !important;
      width: 30%;
    }

  /******* ARTICLES LIST *******/
    .tags_list {
      margin-left: -1em !important;
      margin-top: 3em;
    }
      .tags_list .row {
        margin: -1em 0 !important;
      }

    /******* INDIVIDUAL ARTICLE *******/
    .tag_article {
      margin: -2em 0;
      color: #606873;
    }
      .tag_article div {
      }
      .tag_article div img {
        width: 3em;
        padding: 0.5em;
        border-radius: 50%;
        background: #b3e6ff;
        margin-top: 0.5em;
      }
        .article_title {
          margin-left: -2em !important;
        }
          .article_category {
            font-size: 11px;
            color: #c7cbd1;
            margin-bottom: 0;
          }


    /******* RIGHT COLUMN *******/
    .col_right {
      padding: 0;
      position: relative;
    }

    /******* TITLE + "SHOW ALL" BUTTON *******/
      .title_bests {
        position: relative;
      }
      .title_bests div:nth-child(2) {
        position: absolute;
          top: 50%;
          right: 0;
      }
        .title_bests div:nth-child(2) a:hover {
          text-decoration: none;
        }
        .display_all_button {
          padding: 0;
          background: transparent;
          color: #a0b1c3;
          border: 0;
        }
          .display_all_button:focus {
            outline: 0;
          }

    /******* BEST ARTICLES CAROUSEL *******/
    .carousel_bests {
      margin-top: 1em;
      margin-left: 0;
      position: relative;
      height:327px;
      white-space: nowrap;
      overflow:hidden;
      /*-ms-overflow-style: none;
       overflow: -moz-scrollbars-none;
    }
    .carousel_bests::-webkit-scrollbar { width: 0 !important }
    */
    }
      /******* LEFT AND RIGHT ARROWS *******/
      .left_arrow, .right_arrow {
        box-shadow: 0 0 4px grey;
        width: 30px;
        height: 30px;
        border: 0;
        background: linear-gradient(#ffb84d, #ff9900);
        border-radius: 50%;
        position: absolute;
        top: 0;
        z-index: 50;
      }
      .left_arrow {
        left: -1em;
        top: 55%;
        z-index: 50;
      }
        .left_arrow img {
          width: 15px;
          margin-bottom: 0.1em;
          margin-right: 0.1em;
        }
      .right_arrow {
        right: -2em;
        top: 55%;
      }
        .right_arrow img {
          width: 15px;
          margin-bottom: 0.1em;
          margin-left: 0.1em;
        }
      .left_arrow:focus, .right_arrow:focus, .left_arrow_models:focus, .right_arrow_models:focus {
        outline: 0;
      }

    /******* INVIDUAL PRODUCTS *******/
      .best_product {
        border-radius: 5px !important;
        margin-right: 1.5em;
        margin-bottom: 2em;
        text-align: center;
        display: inline-block;
        float: none;
        box-shadow: 5px 5px 7px #e2e6f1;
        background: white;
      }
        .best_picture {
          background: white;
          padding:-2em;
          width: 107% !important;
          border-radius: 5px 5px 0 0 !important;
          border-bottom: 1px solid rgba(128, 128, 128, .1);
        }

        .best_description {
          background: #F1F4F7;
          border-bottom: 1px solid rgba(128, 128, 128, .1);
          padding: 1em 1em;
        }
          .best_product div p {
            text-align: left;
          }
          .best_description {
            padding-right: 1em!important;
            overflow: scroll;
          }
          .best_link {
            font-size: 18px;
            margin-bottom: 0;
            margin-bottom: -1em;
          }
          .best_link:hover {
            text-decoration: none;
          }
          .best_ref {
            font-size: 10px;
            margin-top: -1em;
          }
          .note {
            margin-top: -1em;
            margin-bottom: 0;
          }
            .note img {
              width: 60px;
            }
            .note .note_numbers {
              font-size: 10px;
              margin-top: -3em;
            }
            .best_description {
              background: #f7faff;
            }
          .best_stock {
            font-size: 12px;
            border-radius: 0 0 5px 5px !important;
            background: white;
            padding: 1em 1em 0 1em;
            margin-bottom: -1em;
          }
            .in_stock {
              width: 10px;
              margin-right: 0.5em;
              margin-bottom: 0.3em;
            }


/*******************************************************************************/
/*                         FIFTH BLOCK : WHITE N째2                             */
/*******************************************************************************/
.white_back2 {
  margin: 0 0 0 0 !important;
}
  .white_back2 .container {
    position: relative;
  }
/******* TITLE FOR BEST MODELS *******/
  .title_bests_brands {
    margin-top: 2em;
    margin-bottom: 1em;
  }

/******* BEST MODELS LIST *******/
  .best_models_brands {
    box-shadow: 0 0 20px #dde4ee;
    border-radius: 5px;
    margin-top: 2em;
    height: 530px;
    position: relative;
    z-index: 1;
    overflow: scroll;
    -ms-overflow-style: none;
     overflow: -moz-scrollbars-none;
  }
  .best_models_brands::-webkit-scrollbar { width: 0 !important }


  /******* LEFT AND RIGHT ARROWS FOR CAROUSEL *******/
    .left_arrow_models {
      width: 30px;
      height: 30px;
      background: linear-gradient(#ffb84d, #ff9900);
      border-radius: 50%;
      border: 0;
      position: absolute;
      left: -1em;
      top: 48%;
      z-index: 50;
    }
      .left_arrow_models img {
        margin: 0.5em 0;
        width: 15px;
      }
    .right_arrow_models {
      width: 30px;
      height: 30px;
      background: linear-gradient(#ffb84d, #ff9900);
      border-radius: 50%;
      border: 0;
      position: absolute;
      right: -1em;
      top: 48%;
      z-index: 50;
      text-align: center;
    }
      .right_arrow_models img {
        margin: 0.5em 0;
        width: 15px;
      }

    /******* EACH LIST COLUMN *******/
    .model_brand {
      border-right: 1px solid rgba(128, 128, 128, .2);
      position: relative;
      z-index: 0;
      height: 100%;
    }
      .model_brand:nth-child(6) {
        border: 0;
        box-shadow: inset -50px 0 50px 50px white;
        text-overflow:clip;
      }
    .model_brand p {
      text-align: left;
      position: relative;
      z-index: 1;
    }
      .model_brand p a:hover {
        text-decoration: none;
      }
      .model_brand p:nth-child(1) {
        margin-bottom: 1em;
        text-align: center;
      }
        .model_brand p:nth-child(1) a {
          color: #606873;
        }

  /******* "ENTER REFERENCE" BUTTON *******/
  .enter_reference_button {
    color: white !important;
    background: linear-gradient(#ffb84d, #ff9900) !important;
    border: 0 !important;
    border-radius: 3px !important;
    padding: 1em 2em;
    position: absolute;
    left: 38%;
    top: -1.5em;
    margin-bottom: 7em;
    z-index: 50;
  }

  /*******************************************************************************/
  /*                           RESPONSIVE                                        */
  /*******************************************************************************/
  @media only screen and (max-width:1200px) { /* MD DEVICES */
    .breadcrmb {
      font-size: 13px;
    }
    .text_presentation h2 {
      margin-top: 0.5em !important;
    }
    .guarantees_infos {
      margin-left: -2.8em;
    }
    .contact_devis {
      padding: 0.5em 2em 1em 2em;
    }
    .best_product {
      margin-right: 1em;
    }
    .left_arrow_models {
      left: 0;
    }
    .right_arrow_models {
      right: 0;
    }
    .best_models_brands {
      margin: auto;
    }
  }

  @media only screen and (max-width:991px) { /* SM DEVICES */
    .blue_back {
      height: 40vh;
    }
    .breadcrmb {
      font-size: 14px;
      text-align: center;
    }
    .announce_banner {
      width: 70%;
      position: absolute;
      left: 15%;
    }
      .pic_presentation {
        display: none;
      }
      .pic_presentation_small {
        display: block;
      }

    .title_pieces {
      margin-top: 45%;
    }
    .search_input, .sort_piece, .sort_brand {
      margin-top: 3em;
    }
      .input_md {
        display: none !important;
      }
      .input_sm {
        display: block !important;
      }

    .pieces_list_line,.brands_list_line {
      margin-bottom: 0;
    }

    .guarantees div {
      margin-bottom: 0.5em;
    }
      .guarantees_infos {
        margin-left: 0;
        margin-top: 0;
        font-size: 14px;
      }
      .guarantees_icon_left ~ .guarantees_infos {
        margin-left: 2em;
        margin-right: -2em;
      }
        .blue_icon {
          margin-top: 0.8em;
          margin-left: 1em;
        }
          .guarantees_icon_right {
            display: block !important;
            margin-left: -2em;
          }
          .guarantees_icon_left {
            display: none !important;
          }

    .show_more_brands {
      margin-bottom: 0;
    }
    .contact_devis {
      margin: 0;
      padding: 0 0 0 1em 0;
      text-align: center;
    }
      .devis_button {
        padding: 0;
      }
      .devis_button button  {
        width: 100%;
      }

    .article_title {
      margin-left: -4em !important;
    }
    .col_left div div hr {
      border: 0;
    }
    .tags_list {
      margin-bottom: 4em;
      width: 100%;
    }

    .title_bests div:nth-child(2) {
      margin-top: 11em;
    }
    .left_arrow, .right_arrow {
      top: 75%;
    }
    .model_brand p a {
      font-size: 12px;
    }
    .enter_reference_button {
      left: 32%;
    }
  }

  @media only screen and (max-width:767px) { /* XS DEVICES */
    .announce_banner {
      width: 93%;
      left: auto;
    }
    .title_pieces {
      margin-top: 55%;
    }
    .piece,.brand {
      margin-bottom: 1em;
    }
    .show_more_pieces {
      width: 100%;
      margin-top: 0;
    }
    .guarantees_icon_right {
      position:absolute !important;
      right: -1em !important;
    }
    .title_brands div h3 {
      line-height: 25px!important;
    }
    .show_more_brands {
      width: 100%;
      padding: 1em 0;
    }
    .contact_devis {
      width: 100%;
      text-align: left;
    }
      .devis_intro {
        line-height: normal;
      }
    .breakdown_best div:nth-child(1) {
      width: 100%;
    }
      .article_img {
        width:auto !important;
      }
      .display_all_bests {
        margin-top: 15em !important;
      }

      .carousel_bests {
        width: 90%;
        margin: auto;
        margin-top:4em;
      }

      .left_arrow {
        top: 75% !important;
        left: 1em;
      }
      .right_arrow {
        top: 75% !important;
        right: 1em;
      }
      .best_product {
        border-radius: 5px !important;
        width: 100%;
        margin-right: 1em;
        text-align: center;
        box-shadow: 5px 5px 7px #e2e6f1;
      }
        .best_picture {
          width: 100%;
          padding-right: -1em !important;
          margin-left: 0 !important;
        }

      .best_models_brands {
        white-space: nowrap;
        overflow: hidden;
      }
        .model_brand {
          float: none;
          display: inline-block;
        }
        .left_arrow_models, .right_arrow_models {
            bottom: 0;
            top: 103%;
            width: 40px;
            height: 40px;
        }
          .left_arrow_models {
            padding-right: 0.7em;
          }
          .right_arrow_models {

          }
        .slider_dots {
          display: inline-block;
          height: 5em;
            background: green;
        }
          .slider_dots span {
            background: red;
            border-radius: 50%;
          }

        .enter_reference_button {
          width: 100%;
          left: 0 !important;
          top: 6em;
        }
  }



  /****************************************************************************/
