body {
  margin: 0;
}

.row {
}

.blue_back {
  background: #165F9B;
  height: 20vh;
}

  .blue_back .container .row {
    margin: 12px 0 !important;
  }

.breadcrmb, .breadcrmb a {
  color: white;
}
  .breadcrmb {
    padding-top: 1em !important;
  }
  .breadcrmb a:hover {
    text-decoration: none;
  }

.annouce_banner {
  position: relative;
  background: white;
  border-radius: 10px;
  z-index: 50;
  box-shadow: 1px 1px 7px grey;
}
  .picframe {
    padding: 0 !important;

  }
  .pic_presentation {
    width: 100%;
    border-radius: 10px 0 0 10px;
  }

  .text_presentation {
    padding: 0 2em;
  }

    .orange_text {
      color: orange;
    }
    .bold_text {
      font-weight: bold;
    }

.grey_back1, .grey_back2 {
  background: linear-gradient(#f8f8fa, #e2e6f1);
}

.white_back1, .white_back2 {
  background: #fcfdfe;
}

.grey_back1 {
}

  .title_pieces {
    padding-top: 9em;
    padding-bottom: 0 !important;
  }

  .search_input{

  }

  .sort_button {
    border: 0 !important;
  }

  .pieces_list, .brands_list {
    margin-top: 2em;
  }

    .pieces_list_line,.brands_list_line {
      margin-bottom: 1em;
    }

      .pieces_list_line div a img {
        margin: 1em 1em;
        width: 70px;
      }

        .piece p {
          background: white;
          border-radius: 5px;
          box-shadow: 5px 5px 7px #e2e6f1;
        }

          .piece p a {
            color: grey;
          }

            .piece p a:hover {
              text-decoration: none;
            }

  .show_more_pieces {
    color: white !important;
    background: linear-gradient(#ffb84d, #ff9900) !important;
    border: 0 !important;
    border-radius: 3px !important;
    margin-top: 2em;
    padding: 0.8em 1.3em;
  }

  .guarantees {
    margin: 4em 0 2em 0;

  }
    .guarantees div div {
      position: relative;
      z-index: 1;
    }
      .guarantees_icon {
        position: absolute;
        z-index: 4;
      }

      .guarantees_infos {
        position: absolute;
        margin-left: -3.7em;
        margin-top: -1.6em;
        padding: 1em 3em;
        border: 1px solid #cfd1d6;
        border-radius: 5px;
        z-index: 1;
      }

    .blue_icon {
      background: linear-gradient(to right,#007399,#0099cc);
      width: 4em;
      height: 4em;
      border-radius: 7px;
      position: relative;
    }
      .blue_icon img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

.white_back1 {
}
  .title_brands {
    padding-top: 3em;
    padding-bottom: 0 !important;
  }

  .brand p {
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #f5f7fa;
  }

  .brand p a {
    color: grey;
  }
    .brand a:hover {
      text-decoration: none;
    }

  .show_more_brands {
    color: grey !important;
    background: #f8f8f8;
    border: 1px solid #f0f0f0 !important;
    border-radius: 3px !important;
    margin-top: 2em;
    padding: 0.8em 1.3em;
  }


.grey_back2 {
  height: 40vh;
}

.white_back2 {
  height: 50vh;
}
